<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            background-color: white;
        }
        
        .page {
            text-align: center;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        
        .section {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 150px;
            border-bottom: 1px solid grey;
        }
        
        .section__bg {
            width: 100%;
            height: 100%;
            opacity: 0.8;
        }
        
        .section__content {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 40%;
            font-size: 20px;
            line-height: 1.5em;
            color: white;
        }
        
        .section__content p {
            margin: 10px;
        }
        
        .section__date {
            font-size: 18px;
        }
        
        .page__title {
            position: absolute;
            width: 250px;
            margin-left: 62px;
            margin-right: 63px;
            text-align: center;
            bottom: 300px;
            font-weight: bold;
            color: white;
        }
        
        .page__content {
            position: absolute;
            height: 150px;
            width: calc(50% - 25px);
            left: 25px;
            bottom: 0;
            text-align: left;
        }
        
        .page__portrait {
            position: relative;
            width: 200px;
            height: 50px;
            top: -25px;
        }
        
        .page__portrait img {
            border: 1px solid white;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
        
        .page__nickname {
            position: relative;
            width: 100%;
            height: 15px;
            top: -20px;
            font-size: 14px;
        }
        
        .page__desc {
            font-size: 14px;
            margin-bottom: 5px;
            color:#525252;
        }
        
        .page__detail {
            font-size: 12px;
            color:#525252;
        }
        
        .page__detail p {
            margin: 3px 0;
        }
        
        .page__detail p span {
            margin-left: 2px;
            margin-right: 2px;
        }
        
        .page__qrcode {
            position: absolute;
            height: 150px;
            width: 50%;
            bottom: 0;
            right: 0;
        }
        
        .page__qrcode img {
            position: absolute;
            width: 100px;
            height: 100px;
            left: 75px;
            bottom: 30px;
        }
        
        .page__tip {
            position: absolute;
            width: 100px;
            text-align: center;
            font-size: 12px;
            left: 75px;
            bottom: 5px;
        }
    </style>
</head>

<body>
    <div class="page">
        <div class="section">
            <img class="section__bg" src="<%= imageUrl %>"></img>
            <div class="section__content">
                <p class="section__date"><%= date %></p>
                <p>
                    <% for(var i=0; i<sentences.length; i++) { %>
                        <%= sentences[i] %>
                        <br/>
                    <% } %>
                </p>
            </div>
        </div>
        <div class="page__content">
            <div class="page__portrait">
                <img src="<%= avatarUrl %>"></img>
            </div>
            <div class="page__nickname">
                <%= nickName %>
            </div>
            <div class="page__desc">21天爱上写作训练营</div>
            <div class="page__detail">
                <p>连续打卡<span><%= continuousCount %><span>天</p>
                <p>累计打卡<span><%= totalCount %><span>天</p>
                <p>累计写作字数<span><%= totalWords %><span>字</p>
            </div>
        </div>
        <div class="page__qrcode">
            <img src="http://p3tfrakck.bkt.clouddn.com/base/qrcode.jpg"></img>
            <div class="page__tip">
                长按识别二维码
            </div>
        </div>
    </div>
</body>
</html>