<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html {
        height: 100%;
      }
      
      body {
        margin: 0;
        font-family: "WenQuanYi Zen Hei", sans-serif, monospace;
        font-size: 16px;
        height: 100%;
        background-color: white;
      }
      
      .b-main-section {
        height: calc(100% - 150px);
        background-image: url("<%= imageUrl %>");
        background-size: 100% 100%;
      }
      
      .b-main-section__avatar{
        position: absolute;
        margin-top: -25px;
        margin-left: 25px;
      }
            
      .b-avatar {
        width: 120px;
        text-align: center;
        font-size: 0.8rem;
        color: #3c3b3b;
      }
      
      .b-avatar__pic {
        border: 1px solid white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
      
      .b-central-container {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        background-size: 100% 100%;
        font-size: 0;
        text-align: center;
      }
      
      .b-central-container:after {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      
      .b-central-container__content {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        height: 40%;
        width: 90%;
       
      }
      
      .b-central-container__paragraph {
        width: 100%;
        margin: 1rem 0;
        line-height: 2;
        letter-spacing: 0.2rem;
        color: white;
        font-size: 1rem;
      }
      
      .b-central-container__paragraph--align-right {
        text-align: right;
      }

      .b-central-container__paragraph--font-large {
        font-size: 1.2rem;
      }

      .b-central-container__paragraph--font-xlarge {
        font-size: 1.3rem;
      }
      
      .b-secondary-section {
        height: 150px;
        color: #3c3b3b;
        font-size: 0.8rem;
      }
      
      .b-secondary-section__left {
        float: left;
        box-sizing: border-box;
        width: 55%;
        height: 100%;
      }

      .b-secondary-section__statistics {
        margin-top: 60px;
        margin-left: 25px;
      }

      .b-secondary-section__title {
        font-size: 0.9rem;
        font-weight: bold;
        margin: 2px 0;
      }

      .b-secondary-section__detail {
        margin: 3px 0;
      }

      .b-secondary-section__data {
        margin: 0 5px;
      }

      .b-secondary-section__right {
        float: right;
        box-sizing: border-box;
        width: 45%;
        height: 100%;
        line-height: 150px;
        text-align: center;
      }

      .b-secondary-section__qrcode {
        display: inline-block;
        vertical-align: middle;
        line-height: 0;
      }

      .b-qrcode {
        width: 100px;
      }

      .b-qrcode__pic {
        width: 100px;
        height: 100px;
        vertical-align: middle;
      }

      .b-qrcode__desc {
        margin-top: 10px;
      }
    </style>
  </head>

  <body>
    <div class="b-main-section">
      <div class="b-central-container">
        <div class="b-central-container__content">
          <p class="b-central-container__paragraph b-central-container__paragraph--font-large">
            <%= date %>
          </p>
          <p class="b-central-container__paragraph b-central-container__paragraph--font-xlarge">
            <% for(var i=0; i<sentences.length; i++) { %>
              <%= sentences[i] %>
                <br/>
                <% } %>
          </p>
          <p class="b-central-container__paragraph b-central-container__paragraph--align-right"><span>—&nbsp;</span><span><%= author %></span></p>
        </div>
      </div>
      <div class="b-avatar b-main-section__avatar">
        <img class="b-avatar__pic" src="<%= avatarUrl %>" />
        <div>
          <%= nickName %>
        </div>
      </div>
    </div>

    <div class="b-secondary-section">
      <div class="b-secondary-section__left">
        <div class="b-secondary-section__statistics">
          <p class="b-secondary-section__title">弘丹写作训练营</p>
          <p class="b-secondary-section__detail">连续打卡<span class="b-secondary-section__data"><%= continuousCount %></span>天</p>
          <p class="b-secondary-section__detail">累计打卡<span class="b-secondary-section__data"><%= totalCount %></span>天</p>
          <p class="b-secondary-section__detail">累计写作字数<span class="b-secondary-section__data"><%= totalWords %></span>字</p>
        </div>
      </div>
      <div class="b-secondary-section__right">
        <div class="b-secondary-section__qrcode b-qrcode">
          <img class="b-qrcode__pic" src="cdn.qingcheng.ink/qrcode.jpg" />
          <div class="b-qrcode__desc">
            长按识别二维码
          </div>
        </div>
      </div>
    </div>
  </body>

</html>